<ion-content [fullscreen]="true">

    <ion-row class="ion-justify-content-center"> 
        <ion-col size="12" size-xl="6">

            <!-- Dados do perfil -->
            <ion-row>
                <ion-col size="4">
                    <img src="https://i.pinimg.com/736x/54/93/11/549311f31ca7ed14176e681fc6ddf51c.jpg">
                </ion-col>
                <ion-col size="8">
                    <ion-item lines="none">
                        <ion-label>
                            <h1>Aila Aryam</h1>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>
                            <h4>Programador</h4>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>
                            <h4>@aila_aryam</h4>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>
                            <h4>Tatuí/SP</h4>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label>
                            <h4>Desde janeiro de 2025</h4>
                        </ion-label>
                    </ion-item>
        
                </ion-col>
        
            </ion-row>

            <!-- Título Biografia -->
             <ion-row>
                <ion-col size="12">
                    <ion-item lines="none">
                        <ion-label>
                            <h2>Biografia</h2>
                        </ion-label>
                    </ion-item>

                </ion-col>
             </ion-row>

             <!-- Descrição da Biografia -->
              <ion-row>
                <ion-col size="12">
                    <ion-item lines="none">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, aspernatur soluta dolor enim consequatur molestiae, nemo ut, vero assumenda suscipit unde quod culpa ratione. Consequatur vitae incidunt minus placeat neque?</p>
                    </ion-item>
                </ion-col>
              </ion-row>
            <!-- Divider -->
             <ion-row>
                <ion-col size="12" class="text-center">
                    <ion-item-divider></ion-item-divider>
                </ion-col>
             </ion-row>

             <!-- estatisticas -->
            <ion-row>
                    <ion-col size="4" class="text-center">
                        <ion-item lines="none">
                            <h3>6K</h3>
                        </ion-item>

                        <ion-item lines="none">
                            <h3>Curtidas</h3>
                        </ion-item>
                    </ion-col>

                    <ion-col size="4" class="text-center">
                        <ion-item lines="none">
                            <h3>45.6K</h3>
                        </ion-item>

                        <ion-item lines="none">
                            <h3>Seguidores</h3>
                        </ion-item>
                    </ion-col>

                    <ion-col size="4" class="text-center">
                        <ion-item lines="none">
                            <h3>45.6K</h3>
                        </ion-item>

                        <ion-item lines="none">
                            <h3>Seguidores</h3>
                        </ion-item>
                    </ion-col>
            </ion-row>


               <!-- Divider -->
             <ion-row>
                <ion-col size="12" class="text-center">
                    <ion-item-divider></ion-item-divider>
                </ion-col>
             </ion-row>

             <!-- Minhas postagens -->
              <ion-row>
                <ion-col size="12">
                    <ion-label>
                        <h2>Minhas postagens</h2>
                    </ion-label>
                </ion-col>
              </ion-row>

              <!-- Ponstagens -->
               <ng-container *ngFor="let postagem of this.perfil.postagens">
                   <ion-row>
                    <ion-col size="4">
                        <img src="{{postagem.foto}}">
                    </ion-col>
                    <ion-col size="8">
                        <ion-item lines="none">
                            <ion-label>
                                <h2>{{postagem.nome}} - {{postagem.nome_usuario}}</h2>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                            <p>{{postagem.texto}}</p>
                        </ion-item>
                        <ion-item lines="none">
                            <p>{{postagem.data}}</p>
                        </ion-item>
                    </ion-col>
                   </ion-row>

               </ng-container>

        </ion-col>
    </ion-row>


</ion-content>

